.main-photo img {
    margin-top: 100px;
    min-width: 100%;
    height: auto;
}

.main-photo {
    position: relative;
}

.inner-top {
    position: absolute;
    top: 5%;

    text-align: center;
    z-index: 5;
    color: #fff;
    margin-top: 100px;
    width: 100%;
}

.inner-top h2 {
    font-size: 20px;
    font-family: aktiv_groteskmedium;
    padding-left: 15px;
    
}

.pin {
    display: inline-block;
        width: 20px;
        height: 16px;
        background: url(../images/pin.png) no-repeat center bottom;
}

.heart-wt {
    display: inline-block;
    width: 27px;
        height: 19px;
        background: url(../images/heart-wh.png) no-repeat center bottom;
}

.inner-top h1 {
    font-size: 58px;
    font-family: aktiv_grotesklight;
    line-height: 1em;
}

.inner-top p {
    padding-left: 15px;
    background: url(../images/heart-wt.png) no-repeat top left;
    font-size: 20px;
    font-family: aktiv_groteskmedium;
}

.main-nav {
    width: 100%;
    background-color: #0092ff;
    border-radius: 5px;
}

ul.main-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 30px;
}

.main-nav li {
    float: left;
    width: 25%;
}

.main-nav li a {
    display: block;
    padding: 15px 5px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
	font-family: aktiv_groteskbold;
}

.content {
    margin-top: 30px;
}

.list-opt {
    margin: 0;
	list-style: none;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 2px rgba(207,213,217,.5);
	-moz-box-shadow: 0 2px 2px rgba(207,213,217,.5);
	box-shadow: 0 2px 2px rgba(207,213,217,.5);
	padding-left: 30px;
        margin-bottom: 30px;
}

.list-opt li {
    display: block;
	height: 60px;
	line-height: 60px;
	color: #0092ff;
	font-size: 20px;
	padding-left: 30px;
        font-family: aktiv_groteskregular;
}

.icon-clock {
	background: url(../images/icon-clock.png) no-repeat top left;
}

.icon-tel {
	background: url(../images/icon-tel.png) no-repeat top left;
}

.icon-wor {
	background: url(../images/icon-web.png)  no-repeat top left;
}

.icon-wor a {
	color:  #0092ff;
	text-decoration: none;
}

article {
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 2px rgba(207,213,217,.5);
	-moz-box-shadow: 0 2px 2px rgba(207,213,217,.5);
	box-shadow: 0 2px 2px rgba(207,213,217,.5);
	padding: 30px;
	margin-bottom: 120px;
	margin-top: 0;
}

article h1 {
	font-size: 25px;
	color: #0092ff;
        font-family: aktiv_groteskregular;
}

article p {
	color: #6e768f;
	font-size: 20px;
        font-family: aktiv_groteskregular;
}

article h3 {
    color: #0092ff;
    font-size: 20px;
    font-family: aktiv_groteskregular;
    margin-top: 0;
}

article ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

article ul li {
    background: url(../images/check-blue.png) no-repeat top right;
   color: #6e768f;
   font-size: 20px;
   font-family: aktiv_groteskregular;
    width: 45%;
}