
.content {
	padding: 30px;
	 background-color:  #f4f6f7;
         padding-bottom: 130px;
         margin-top: 100px;
}

nav {margin-bottom: 30px;}

#top-nav, #top-nav li {
   margin: 0;
   padding: 0;
   list-style: none;
   margin: 0 auto;
}

#top-nav {
    max-width: 100%;
}

#top-nav li {
    width: 50%;
    float: left;
    text-align: center;
}

#top-nav li a {
    display: block;
    padding: 25px 0;
    text-decoration: none;
    background-color: #0092ff;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: aktiv_groteskregular;
}

.round-r {
     border-radius: 0 5px 5px 0;
}

.round-l {
     border-radius:  5px 0 0 5px ;
}

#top-nav .fb {
    background-color: #001d33;
}

article {
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 30px;
    position: relative;
}

article img {
    float: left;
}

article h1 {
    margin-top: 0;
    color: #6e768f;
    font-size: 33px;
    font-family: aktiv_grotesklight;
    
}

article p {
    color: #b6bbd0;
    font-size: 19px;
    font-family: aktiv_groteskregular;
}

.time {
    color: #6e768f;
    font-family: aktiv_groteskbold;
    font-size: 15px;
}

.away {
    color: #0092ff;
    
}

article:after {
    content: " ";
    display: block;
    width: 18px;
    height: 27px;
    position: absolute;
    top: 42%;
    right: 0;
    background: url(../images/arrow-blue.png);
}

.speak-bubble {
    padding: 30px;
    border-radius: 5px;
    background-color: #0092ff;
    float: right;
    margin-bottom: 30px;
    color: #fff;
    font-family: aktiv_groteskregular;
    font-size: 25px;
    width: 60%;
    position: relative;
}

.speak-bubble.reply {
    background-color: #fff;
    color: #b6bbd0;
    float: left;
    margin-bottom: 500px;
}

.speak-bubble.triang:after {
    content: " ";
    width: 10px;
    height: 15px;
    background: #fff url(../images/triangle.png) no-repeat;
    bottom:  30px;
    right:  -10px;
    position: absolute;
}

.message-inp {
    border: 0;
    outline: 0;
    width: 70%;
    color: #b6bbd0;
    font-size: 25px;
}

.commun-sbm {
    border: 0;
    display: inline-block;
    background: #fff url(../images/sbmt-icon.png) no-repeat center;
    width: 38px;
    height: 26px;
}

