@font-face {
    font-family: 'aktiv_groteskbold';
    src: url('aktivgroteskstdbd.eot');
    src: url('aktivgroteskstdbd.eot?#iefix') format('embedded-opentype'),
         url('aktivgroteskstdbd.woff') format('woff'),
         url('aktivgroteskstdbd.ttf') format('truetype'),
         url('aktivgroteskstdbd.svg#aktiv_groteskbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aktiv_groteskmedium';
    src: url('aktivgroteskstdmd.eot');
    src: url('aktivgroteskstdmd.eot?#iefix') format('embedded-opentype'),
         url('aktivgroteskstdmd.woff') format('woff'),
         url('aktivgroteskstdmd.ttf') format('truetype'),
         url('aktivgroteskstdmd.svg#aktiv_groteskmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aktiv_groteskmedium_italic';
    src: url('aktivgroteskstdmdit.eot');
    src: url('aktivgroteskstdmdit.eot?#iefix') format('embedded-opentype'),
         url('aktivgroteskstdmdit.woff') format('woff'),
         url('aktivgroteskstdmdit.ttf') format('truetype'),
         url('aktivgroteskstdmdit.svg#aktiv_groteskmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aktiv_groteskitalic';
    src: url('aktivgroteskstdit.eot');
    src: url('aktivgroteskstdit.eot?#iefix') format('embedded-opentype'),
         url('aktivgroteskstdit.woff') format('woff'),
         url('aktivgroteskstdit.ttf') format('truetype'),
         url('aktivgroteskstdit.svg#aktiv_groteskitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aktiv_groteskbold_italic';
    src: url('aktivgroteskstdbdit.eot');
    src: url('aktivgroteskstdbdit.eot?#iefix') format('embedded-opentype'),
         url('aktivgroteskstdbdit.woff') format('woff'),
         url('aktivgroteskstdbdit.ttf') format('truetype'),
         url('aktivgroteskstdbdit.svg#aktiv_groteskbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aktiv_grotesklight';
    src: url('aktivgroteskstdlt.eot');
    src: url('aktivgroteskstdlt.eot?#iefix') format('embedded-opentype'),
         url('aktivgroteskstdlt.woff') format('woff'),
         url('aktivgroteskstdlt.ttf') format('truetype'),
         url('aktivgroteskstdlt.svg#aktiv_grotesklight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aktiv_groteskregular';
    src: url('aktivgroteskstdreg.eot');
    src: url('aktivgroteskstdreg.eot?#iefix') format('embedded-opentype'),
         url('aktivgroteskstdreg.woff') format('woff'),
         url('aktivgroteskstdreg.ttf') format('truetype'),
         url('aktivgroteskstdreg.svg#aktiv_groteskregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aktiv_groteskitalic';
    src: url('aktivgroteskstdltit.eot');
    src: url('aktivgroteskstdltit.eot?#iefix') format('embedded-opentype'),
         url('aktivgroteskstdltit.woff') format('woff'),
         url('aktivgroteskstdltit.ttf') format('truetype'),
         url('aktivgroteskstdltit.svg#aktiv_groteskitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
